{%extends 'region.html' %}

{%block region %} California {% endblock %}

{%block painting1 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting2 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting3 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting4 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting5 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting6 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting7 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting8 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block painting9 %}<a href="/flight"><img src = "static/images/400x300.jpg"></a>{% endblock %}

{%block extra %}

<p style = "text-align: center; padding-top: 50px; padding-right: 300px;">
    <strong>Foreword to catalog</strong><b> </b><strong>produced for the show </strong><strong>"Rural Abstraction", </strong><br>
        <strong>at the Caldwell Snyder Gallery in San Francisco. November, 2016.</strong><br>
        <b> The catalog featured works shown by the gallery between 2012 to 2016.</b><br>
        <br>
        <br>
        <div style="text-align: center; padding-right: 300px;">
            <div style="display: inline-block; text-align: left;">
            For ten years I had the privilege of serving as California State Librarian. Since there are more than one thousand public libraries in California, <br>
            my job entailed flights to and from Sacramento. I preferred daylight flights into the state capital because the landing patterns at the <br>
            Sacramento International Airport afforded me an opportunity to enjoy landscapes out of the backgrounds to Italian Renaissance paintings <br>
            as the Southwest plane descended towards the runway.<br>
            <br>
            In each case – the landscapes glimpsed in the distance from the windows and doors of Italian Renaissance interiors or the vast landscapes <br>
            unfolding below me as the flight descended in its pathway – I encountered comparable presentations of natura naturans (nature being nature) <br>
            fused with presentations of nature as art, geometry, and design on an heroic scale.<br>
            <br>
            I learned to love the great Sacramento Valley as experienced from a descending arc as much as I had always loved glimpses of artful <br>
            landscapes seen from windows and doors of interiors serving depictions from classical, Biblical, or Renaissance times. And thus also, <br>
            having been introduced to the work of Deladier Almeida, I began to experience the Sacramento Valley in a new way: by indirection, <br>
            by suggestion, by what was depicted, and by what remained off-canvas, namely, the human creativity that had gone into the making of these <br>
            landscapes on such an heroic scale. These ordered and intersecting fields and orchards, these tree-guarded rivers and canals, this repose of level <br>
            and gently sloping places, this array of Italian Renaissance color: all this delights me as much as those landscaped backdrops of the Renaissance.<br>
            <br>
            Who created this world, this California, I asked myself in sheer wonderment? From whence comes these Virgilian suggestions brought to such a scale? <br>
            O brave new world that has such farmers and artists expressing themselves in patterns and colors on the land for our delight? <br>
            Are these the colors of agriculture, I asked myself? Or the colors of art? Or the colors of art and agriculture reconciled in a new alembic called California? <br>
            Is this landscape for real or is it imagined? The answer is simple. This landscape is at once art and reality because California is both. <br>
            The Sacramento Valley is at once as real as the landscapes glimpsed from a passenger jet descending at 2,000 feet – and as reimagined <br>
            as the superb canvases in this catalog. I am grateful to the farmers of greater Sacramento for creating these landscapes in time and history. <br>
            And I am grateful to Deladier Almeida for helping me to see just how serene and majestic they are.<br><br><br><br> </div>
        </div>
        <div style="text-align: end; padding-right: 625px">
            <div style="display: inline-block; text-align: right;">
                <b>Kevin Starr</b>
                <br>
                <b>California State Librarian Emeritus</b>
                <br>
                San Francisco, September 2016
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
</p>
{% endblock %}