{%extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div style="padding-left: 52px; padding-top: 5px;"><img src="static/images/vertline.jpg" width = "400" height="5"></div>
<div class="events" style="padding-top: 15px;">
    <p style="margin:0;">
        <b style="font-size: 13px;">CONTACT</b>
        <br><br>
        <a href="/">home</a>
    </p>
    <img src = "static/images/vertline.jpg" width="1" height="100%">
    <p style="margin: 0;">
        <a href="mailto:del@deladier.com?subject=Deladier Site Contact">del@deladier.com</a>
        <br><br>
        <b>(530) 400-4018</b>
        <br><br>
        "1314 Cedar Pl."
        <br>
        "Davis CA 95616"
        <br>
    </p>
   
</div>
{% endblock %}