{%extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div style="padding-left: 52px; padding-top: 5px;"><img src="static/images/vertline.jpg" width = "800" height="5"></div>
<div class="events" style="padding-top: 15px;">
    <p style="margin: 0;">
        <a href="/">home</a>
        <br><br>
        <a href="/contact">contact</a>
    </p>
    <img src = "static/images/vertline.jpg" width="1" height="100%">
    <p style="margin: 0;"><b>EDUCATION</b><br>
        <br>
        University of California, Davis.<br>
        Art Studio. June 1990.<br>
        Studied with <a href="https://en.wikipedia.org/wiki/Roy_De_Forest" target="_blank">Roy de Forest</a>, <a href="http://hollowell.ucdavis.edu/" target="_blank">David Hollowell</a>,<br>
        <a href="https://en.wikipedia.org/wiki/Roland_Petersen" target="_blank">Roland Petersen</a>, <a href="https://en.wikipedia.org/wiki/Wayne_Thiebaud" target="_blank">Wayne Thiebaud</a>.<br>
        <br>
        Additional figurative instruction from:<br>
        Scott Burdick, Gregg Kreutz, David Lefell, Robert Liberace,<br>
        Geremy Lipking, Michael Shane Neal, Carl Samson,<br>
        Richard Schmid and Nelson Shanks.<br>
        <br>
        <b>EVENTS<br>
            <br>
        </b><img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2021</strong><br>
        <br>
        <strong>February</strong><br>
        <strong>New Work</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in San Francisco.<br>
        Dates and opening reception TBA<br>
        <b><br>
        </b><br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2020</strong><br>
        <br>
        <strong>September 13 - September 27</strong><br>
        <strong>Dutch and Italian scenes</strong><br>
        Solo exhibition at the <a href="https://www.artobsession.nl/en/home/?lang=EN" target="_blank">Obsession of Art Gallery</a>, in Bergen, Holland.<br>
        <br>
        <strong>July </strong><br>
        <strong>Landscapes of</strong> <strong>Tuscany and Rural California</strong><br>
        Solo exhibition at the <a href="http://www.smithklein.com" target="_blank">SmithKlein Gallery</a>, in Boulder, CO.<br>
        <br>
        <strong>July 5 - July 26</strong><br>
        <strong>Summer Exhibition</strong><br>
        Collective show at the <a href="https://www.artobsession.nl/en/home/?lang=EN" target="_blank">Obsession of Art Gallery</a>, in Bergen, Holland.<br>
        <br>
        <strong>July 1 - August 14</strong><br>
        <strong>Our World Reimagined - <a href="https://www.californiaartclub.org/exhibition/our-world-reimagined/" target="_blank">California Art Club</a></strong><br>
        First Place Winner<br>
        <b><br>
        </b><br>
        <strong>May 16 - June 30</strong><br>
        <strong>109th Gold Medal Exhibition - A Virtual Experience - <a href="https://www.californiaartclub.org/exhibitions/annual-gold-medal-exhibition/" target="_blank">California Art Club</a></strong><br>
        Presented in collaboration with the Hilbert Museum of California Art<br>
        <b><br>
        </b><img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2019</strong><br>
        <br>
        <strong>November 9 - 30</strong><br>
        <strong>California &amp; Tuscany - Abstracted Landscapes</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in St. Helena, CA.<br>
        Opening reception November 9, from 4 to 6 pm.<br>
        <br>
        <strong>August 11 - September 1</strong><br>
        <strong>New paintings</strong><br>
        Introductory solo exhibition at the <a href="https://www.artobsession.nl/en/home/?lang=EN" target="_blank">Obsession of Art Gallery</a>, in Bergen, Holland.<br>
        <br>
        <strong>July 4 - 30 </strong><br>
        <strong>Landscapes of</strong> <strong>Tuscany and Rural California</strong><br>
        Solo exhibition at the <a href="http://www.smithklein.com" target="_blank">SmithKlein Gallery</a>, in Boulder, CO.<br>
        <br>
        <strong>June 14 - 29 </strong><br>
        <strong>New</strong> <strong>Paintings</strong><br>
        Solo exhibition at the <a href="http://www.blueraingallery.com/" target="_blank">Blue Rain Gallery</a>, in Sant Fe, NM.<br>
        <br>
        <strong>May 12 - 19 </strong><br>
        <strong><a href="http://www.artbreda.nl/en/" target="_blank">Art Breda</a>, </strong>in Breda, Netherlands<br>
        Represented by<a href="https://www.artobsession.nl/en/home/" target="_blank"> Obsession of Art Gallery</a>.<br>
        <br>
        <strong>March 2 - 29</strong><br>
        <strong>108th Gold Medal Exhibition - <a href="https://www.californiaartclub.org/exhibitions/annual-gold-medal-juried-exhibition">California Art Club</a></strong><br>
        Exhibition at the Pasadena Museum of California Art, in Pasadena, CA.<br>
        Opening reception March 2, from 6 to 9 pm.<br>
        <br>
        <strong>January 24 - 27</strong><br>
        <strong>Kunst &amp; Antiek Weekend, </strong>in Naarden, Netherlands<br>
        Represented by<a href="https://www.artobsession.nl/en/home/" target="_blank"> Obsession of Art Gallery</a>.<br>
        <br>
        <strong>January 16 - 20</strong><br>
        <strong>Amsterdam First Art Fair,</strong> in Amsterdam<br>
        Represented by<a href="https://www.artobsession.nl/en/home/" target="_blank"> Obsession of Art Gallery</a>.<br>
        <b><br>
        </b><br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2018</strong><br>
        <br>
        <strong>November 1 - November 30 </strong><br>
        <strong>Geometry of Chance</strong><br>
        Recent Landscapes.<br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in San Francisco.<br>
        Opening reception Thursday, November 1, from 5:30 to 7:30 pm.<br>
        <b><br>
        </b><strong>June 10 - July 1</strong><br>
        <strong>107th Gold Medal Exhibition - <a href="https://www.californiaartclub.org/exhibitions/annual-gold-medal-juried-exhibition">California Art Club</a></strong><br>
        Exhibition at the <a href="https://nhm.org/site/" target="_blank">Natural History Museum</a>, in Los Angeles, CA.<br>
        Opening reception June 9, from 7 to 10 pm.<br>
        <br>
        <strong>June 6 - July 5</strong><br>
        <strong>New Landscapes</strong><br>
        Exhibition at the <a href="http://www.efgallery.com" target="_blank">Elliott Fouts Gallery</a>, in Sacramento, CA.<br>
        <br>
        <strong>May 2 - May 31</strong><br>
        <strong>New Landscapes</strong><br>
        Exhibition at <a href="http://www.sorellegallery.com/" target="_blank">Sorelle Gallery</a>, in New Canaan, CT.<br>
        Opening reception May 3, from 5 to 8 pm.<br>
        <br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2017</strong><br>
        <br>
        <strong>November 11 - December 8</strong><br>
        <strong>Landscapes of</strong> <strong>Tuscany and Rural California</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in St. Helena, CA.<br>
        Opening reception November 11, from 4 to 6 pm.<br>
        <br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2016</strong><br>
        <br>
        <strong>November 29 - December 4</strong><br>
        <strong>CONTEXT Art Miami</strong><br>
        Featured artist with the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a><br>
        <br>
        <strong>November 3 - December 5</strong><br>
        <strong>Rural Abstraction</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in San Francisco.<br>
        <br>
        <strong>January 28 - January 31</strong><br>
        <strong>LA Art Show</strong><br>
        Represented by Blue Rain Gallery. Los Angeles Convention Center.<br>
        <br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2015</strong><br>
        <br>
        <strong>October 2 - October 31</strong><br>
        <strong>Rural California Landscapes</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in St. Helena, CA.<br>
        Opening reception October 3, from 4 to 6 pm.<br>
        <br>
        <strong>July 3 - July 31</strong><br>
        <strong>Southwest landscapes and Figures</strong><br>
        Exhibition at the <a href="http://www.blueraingallery.com/" target="_blank">Blue Rain Gallery</a>, in Sant Fe, NM.<br>
        Opening reception July 3.<br>
        <b><br>
        </b><img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2014</strong><br>
        <br>
        <strong>October 1 - October 28</strong><br>
        <strong>Aerial Abstractions</strong><br>
        Solo exhibition at the <a href="http://www.camptongallery.com/home" target="_blank">Campton Gallery</a>, in New York, NY.<br>
        Opening reception Saturday, October 4, from 5 to 7 pm.<br>
        <br>
        <strong>September 24 - October 15</strong><br>
        <strong>New</strong> <strong>New Mexico landscapes and World Figures</strong><br>
        Solo exhibition at the <a href="http://www.blueraingallery.com/" target="_blank">Blue Rain Gallery</a>, in Sant Fe, NM.<br>
        Opening reception September 26.<br>
        <br>
        <strong>August 26 - September 27</strong><br>
        <strong>Coverging Visions -</strong> <strong>Landscapes of Rural California</strong><br>
        Exhibition at the <a href="http://www.knowltongallery.com/" target="_blank">Knowlton Gallery</a>, in Lodi, CA.<br>
        Opening reception September 6.<br>
        <br>
        <strong>March 22 - April 27</strong><br>
        <strong>Southwest Landscapes</strong><br>
        Solo exhibition at the <a href="http://www.blueraingallery.com/" target="_blank">Blue Rain Gallery</a>, in Scottsdale, AZ.<br>
        Opening reception March 27.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2013</strong><br>
        <br>
        <strong>October 2 - October 28</strong><br>
        <strong>The Calligraphy of Water - </strong><strong>Landscapes of Rural California</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in St. Helena, CA.<br>
        Opening reception October 4, from 6 to 8 pm.<br>
        <br>
        <strong>July 19 - July 31</strong><br>
        <strong>New</strong> <strong>New Mexico landscapes and World Figures</strong><br>
        Solo exhibition at the <a href="http://www.blueraingallery.com/" target="_blank">Blue Rain Gallery</a>, in Sant Fe, NM.<br>
        Opening reception July 19.<br>
        <br>
        <strong>May 4 - June 29</strong><br>
        <strong>The Cultivated Landscape - A Tuscan Travelogue</strong><br>
        Solo exhibition of Tuscan landscapes at the <a href="http://www.knowltongallery.com/" target="_blank">Knowlton Gallery</a>, in Lodi, CA.<br>
        Opening reception May 4.<br>
        <br>
        <strong>April 13 - May 26</strong><br>
        <strong>52nd International Art Show</strong><br>
        Juried Exhibition at the <a href="http://www.sandiego-art.org" target="_blank">San Diego Art Institute</a>, in San Diego, CA.<br>
        Opening reception April 13.<br>
        <br>
        <strong>February 7 - February 28</strong><br>
        <strong>Geometry of Gravity - Realigning the</strong> <strong>California Landscape</strong><br>
        Solo exhibition at the <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder Gallery</a>, in San Francisco.<br>
        Opening reception February 7, from 5 to 7 pm.<br>
        <b><br>
        </b><img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2012</strong><br>
        <br>
        <strong>May 30 - July 10</strong><br>
        <strong>California Landscapes</strong><br>
        Solo exhibition at the Caffe Museo. At the San Francisco Museum of Modern Art.<br>
        <br>
        <strong>June 9 - July 15</strong><br>
        <strong>Artists For The New Century</strong><br>
        Collective exhibition at the Bennington Center for the Arts, in Bennington, VT<br>
        <br>
        <strong>May17 - 20</strong><br>
        <strong>San Francisco ArtFair at Fort Mason</strong><br>
        Showing at the Christian Hohmann gallery.<br>
        <br>
        <strong>March 15 - April 15</strong><br>
        <strong>Picture Perfect</strong><br>
        Solo exhibition of figure paintings at the <a href="http://www.christianhohmann.com/" target="_blank">Christian Hohmann Gallery</a>, in Palm Desert, CA.<br>
        <br>
        <strong>March 5 - April 28</strong><br>
        <strong>Hidden Symmetries</strong><br>
        Solo exhibition of California landscapes at the Knowlton Gallery, in Lodi, CA.<br>
        <b><br>
        </b><img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2011</strong><br>
        <br>
        <strong>October 14 - November 4</strong><br>
        <strong>Colorado Landscapes</strong><br>
        Solo exhibition at the <a href="http://www.miradafineart.com/">Mirada Fine Art Gallery</a>, in Denver, CO.<br>
        Opening reception October 14, from 6 to 9 pm.<br>
        <br>
        <strong>September 1 - September 25</strong><br>
        <strong>The California Landscape and Plein Air Conference</strong><br>
        The John Natsoulas Gallery, in Davis, CA.<br>
        Opening reception Saturday, September 4th, from 7 to 9 pm.<br>
        <br>
        <strong>July 1 - July 16</strong><br>
        <strong>New</strong> <strong>New Mexico landscapes and Grand Tour Figures</strong><br>
        Solo exhibition at the <a href="http://www.blueraingallery.com/">Blue Rain Gallery</a>, in Sant Fe, NM.<br>
        Opening reception Friday, July 1st, from 5 to 7 pm.<br>
        <br>
        <strong>May 20 - 22</strong><br>
        <strong>San Francisco Fine Art Fair</strong><br>
        Fort Mason Center, San Francisco.<br>
        <br>
        <strong>March 2 - April 16</strong><br>
        <strong>The Art of Painting in the 21th Centuy</strong><br>
        Conference and collective exhibition at the John Natsoulas Gallery, in Davis, CA.<br>
        <br>
        <strong>Geometry of Occupation</strong><br>
        <strong>February 4 - 27</strong><br>
        Solo exhibition of California Landscapes at the Knowlton Gallery, in Lodi, CA.<br>
        <a href="connoisseur.html" target="_blank">Fine Art Connoisseur article.</a><br>
        <a href="collector211.html" target="_blank">American Art Collector article.</a><br>
        <br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2010</strong><br>
        <br>
        <strong>Opening</strong> <strong>November 4th, 6 to 8 p.m.</strong><br>
        <strong>World Figures and California Landscapes</strong><br>
        Solo exhibition at the Christian Hohmann Gallery, in Palm Desert, CA.<br>
        <br>
        <strong>September 28 - November 27</strong><br>
        <strong>Man Made: Engineered Landscapes</strong><br>
        Collective exhibition at the Knowlton Gallery, in Lodi, CA.<br>
        <br>
        <strong>May 21 - 23</strong><br>
        <strong>San Francisco Fine Art Fair</strong><br>
        Fort Mason Center, San Francisco.<br>
        <br>
        <strong>May 7 - 24</strong><br>
        <strong>New Mexico landscapes</strong><br>
        Solo exhibition at the Blue Rain Gallery, in Sant Fe, NM.<br>
        <br>
        <strong>April 26 - June 26</strong><br>
        <strong>Interiors: Still Life &amp; Interior Landscapes</strong><br>
        Collective exhibition at the Knowlton Gallery, in Lodi, CA.<br>
        <br>
        <strong>March 30 - April 9</strong><br>
        <strong>Ongoing figure study work in London and Paris.</strong><br>
        <br>
        <strong>March 24 - April 24</strong><br>
        <strong>8th</strong> <strong>Annual California Landscape</strong> <strong>Exhibition</strong><br>
        Solo exhibition at the John Natsoulas Gallery, in Davis, CA.<br>
        <br>
        <strong>February 24 - March 20</strong><br>
        <strong>The Art of Painting in the 21th Centuy</strong><br>
        Conference and collective exhibition at the John Natsoulas Gallery, in Davis, CA.<br>
        <br>
        <strong>January 20 - 24</strong><br>
        <strong>Fine Art Dealers Association Los Angeles Art Show</strong><br>
        Los Angeles CA<br>
        <br>
        <strong>January and Februay</strong><br>
        Winter Workshops.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2009</strong><br>
        <br>
        <strong>October 28 - November 28</strong><br>
        <strong>New Paintings</strong><br>
        Solo exhibition at the John Natsoulas Gallery, in Davis CA.<br>
        Artist's Reception October 30, from 7pm to 10pm<br>
        <br>
        <strong>October 30, 31</strong><br>
        <strong>Figure painting workshop</strong><br>
        Winters CA<br>
        <br>
        <strong>August 25 - September 26</strong><br>
        <strong>Waterways - Landscapes from the Sacramento Delta</strong><br>
        Group exhibit at the Knowlton Gallery, in Lodi CA.<br>
        <br>
        <strong>June 12, 13</strong><br>
        <strong>Figure Study Workshop</strong><br>
        Santa Fe School of Art, Santa Fe, NM.<br>
        <br>
        <strong>May 15 - July 15</strong><br>
        <strong>Paintings of the Delta</strong><br>
        Solo exhibition at Senator Lois Wolk's Office,<br>
        California State Capitol, Room 4032.<br>
        <br>
        <strong>March 4 - April 24</strong><br>
        <strong>7th</strong> <strong>Annual California Landscape</strong> <strong>Exhibition</strong><br>
        <strong>Sacramento and Napa Valley Landscapes</strong><br>
        Solo exhibition at the John Natsoulas Gallery, in Davis CA.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2008</strong><br>
        <br>
        <strong>June 21 </strong><br>
        Plein air painting demonstration<a href="http://www.natsoulas.com/html/landscape/index.html" target="_blank"> </a>at the Farm on Putah Creek, in Winters CA.<br>
        <br>
        <strong>May 28 - July 3</strong><br>
        <strong>Geometry of Occupation</strong><br>
        Solo exhibition of landscape paintings at the John Natsoulas Gallery, in Davis CA.<br>
        <br>
        <strong>May 28 - July 3</strong><br>
        <strong>6th</strong> <strong>Annual California Landscape</strong> <strong>Exhibition</strong><br>
        at the John Natsoulas Gallery, in Davis CA.<br>
        <br>
        <strong>March 3</strong><br>
        One week in North Carolina painting with <a href="http://www.scottburdick.com/" target="_blank">Scott Burdick</a>.<br>
        <br>
        <strong>February 2 and 3</strong><br>
        Alla Prima portrait painting workshop at the Pence Gallery, in Davis CA.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2007</strong><br>
        <br>
        <strong>July 21 </strong><br>
        Plein air painting demonstration<a href="http://www.natsoulas.com/html/landscape/index.html" target="_blank"> </a>at Bear Flag Farm, in Winters CA.<br>
        <br>
        <strong>July 14</strong><br>
        One day Figure Study workshop<strong> </strong>at the John Natsoulas Gallery, in Davis CA.<br>
        <br>
        <strong>2007</strong> <b>Sacramento Valley Landscape Conference</b><br>
        Solo show running concurrently with collective exhibition.<br>
        May 30 through August 11, 2007.<br>
        <br>
        <strong>June 2007</strong><br>
        Engaged to paint portrait of Brazilian Minister of Culture, the musician Gilberto Gil.<br>
        <br>
        <strong>Figure Studies</strong><br>
        Solo show in conjunction with the Annual Figuration<br>
        Exhibition held at the John Natsoulas Gallery, in Davis.<br>
        January 31 through February 24, 2007.<br>
        <b><br>
        </b><img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2006</strong><br>
        <br>
        <strong>New portraits</strong><br>
        Solo exhibition at the John Natsoulas Center for the Arts.<br>
        Portraits of artists, art historians and patrons of the arts.<br>
        November 29 through December 30, 2006.<br>
        <br>
        <b>2006 Sacramento Valley Landscape Conference</b><br>
        Solo show running concurrently with collective exhibition.<br>
        June 28th through August 21st 2006.<br>
        <br>
        <a href="flagg.html" target="_blank">Portrait</a> of Mr. Morgan Flagg unveiled at the<br>
        De Young Museum, on the occasion of his 80th birthday.<br>
        March 11, 2006. San Francisco.<br>
        <br>
        <strong>Portraits and Figures</strong><br>
        Solo exhibition at the Dharma Studio.<br>
        Coconut Grove, Florida. January/March, 2006.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2005</strong><br>
        <br>
        <a href="http://www.deladier.com/Kondos.html" target="_blank">Portrait </a>of Gregory Kondos featured in the Kondos retrospective.<br>
        December, 2005, at the John Natsoulas Gallery.<br>
        <br>
        Commissioned to paint two full size <a href="http://www.deladier.com/pele/pele01.html" target="_blank">portraits</a> of soccer legend Pelé<a href="http://www1.uol.com.br/pelenet/peleking/fr_index.htm" target="_blank">.</a><br>
        Destined for the collection of the Pelé Museumand for the private<br>
        collection of Mr. Edson Arantes do Nascimento.<br>
        Santos, Brazil. November, 2005.<br>
        <br>
        <strong>2005</strong> <b>Sacramento Valley Landscape Conference</b><br>
        Co-curated by John Natsoulas and Don Hagerty.<br>
        July 23rd through August 2005.<br>
        <br>
        <b>"What is Realism?"</b> Collective exhibition of international<br>
        figurative painters at the <a href="http://www.albemarlegallery.com" target="_blank">Albemarle Gallery</a>. London, UK.<br>
        Curated by Edward Lucie-Smith.<br>
        From July 14 through September 3, 2005.<br>
        <br>
        Chosen to represent California's Fifth District in the<br>
        <b>California Contemporary Art Collection exhibit</b>.<br>
        On display 2005/2006 at the California State Capitol, in Sacramento.<br>
        <br>
        <b>Best of Show</b> in the 2005 Crocker-Kingsley exhibition: California's Biennial.<br>
        The Crocker Art Museum. Sacramento, California.<br>
        Judged by <b><a href="http://www.artnet.com/ag/fulltextsearch.asp?searchstring=mel+ramos" target="_blank">Mel Ramos</a></b>.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2004</strong><br>
        <br>
        <b>Finalist</b> in the Portraits' category of the 2004 Artist's Magazine competition.<br>
        As in 2003, works were selected from over 13,000 entries worldwide.<br>
        Winners featured in the December 2004 issue of the magazine.<br>
        Judged by <b><a href="http://www.nelsonshanks.com/" target="_blank">Nelson Shanks</a></b>.<br>
        <br>
        <strong>2004</strong> <b>Sacramento Valley Landscape Conference</b><br>
        Co-curated by John Natsoulas and Don Hagerty.<br>
        July through August at the John Natsoulas Gallery.<br>
        <br>
        <img src="images/arrow3.gif" width="3" height="6" border="0"> <strong>2003</strong><br>
        <br>
        <b>Third place</b> winner in the Portraits' category of the Artist's Magazine juried<br>
        competition 2003. Works selected from over 13,000 entries worldwide.<br>
        Winners featured in the December 2003 issue of the magazine.<br>
        Judged by <b><a href="http://www.jhsanden.com/" target="_blank">John Howard Sanden</a></b>.<br>
        <br>
        <b>Special Mention</b> with 2 paintings at the 2003 awards show<br>
        of the Southern California chapter of the American Society<br>
        of Portrait Artists. Laguna Hills, California.<br>
        <br>
        <b>Finalist</b> at the 2003 awards show of the Northern California<br>
        chapter of the American Society of Portrait Artists.<br>
        Academy of Art College, San Francisco, California.<br>
        <br>
        <b>Finalist</b> at the San Diego Art Institute's 46th International Awards<br>
        exhibition in 2003. Balboa Park, San Diego, California.<br>
        <br>
        <b>People's Choice Award</b> winner at the 41st Annual Juried<br>
        Art Show of the Fairfield Visual Arts Association. 2003/2004.<br>
        Fairfield, California.<br>
        <br>
        <b>First place</b> winner at the annual Society of Western Artists'<br>
        exhibition in 2003. Manchester Center, Fresno, California.<br>
    </p>
</div>

{% endblock %}