{%extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div style="padding-left: 52px; padding-top: 5px;"><img src="static/images/vertline.jpg" width = "600" height="5"></div>
<div class="events" style="padding-top: 15px;">
    <p style="margin:0;">
        <a href="/">home</a>
        <br><br>
        <a href="/contact">contact</a>
    </p>
    <img src = "static/images/vertline.jpg" width="1" height="100%">
    <p style="margin: 0;">
        <b>Gallery Affiliations</b>
        <br><br><br>
        <a href="http://www.blueraingallery.com" target="_blank">Blue Rain - Santa Fe NM</a>
        <br><br>
        <a href="http://www.caldwellsnyder.com/" target="_blank">Caldwell Snyder - San Francisco and St. Helena CA</a>
        <br><br>
        <a href="http://efgallery.com/" target="_blank">Elliott Fouts - Sacramento CA</a>
        <br><br>
        <a href="https://www.medicinemangallery.com/" target="_blank">Medicine Man Gallery - Tucson AZ</a>
        <br><br>
        <a href="https://www.artobsession.nl" target="_blank">Obsession of Art - Bergen, Netherlands</a>
        <br><br>
        <a href="http://smithklein.com/" target="_blank">SmithKlein - Boulder CO</a>
        <br>
    </p>
   
</div>
{% endblock %}