{%extends 'base.html' %}

{% block head %}

<script>
    window.onload = function() {
        var atag = document.getElementById("logo");
        atag.parentNode.removeChild(atag);
        var name = document.getElementById("name");
        name.parentNode.removeChild(name);
    }
</script>

{% endblock %}

{% block body %}
<div style="padding-left: 82px;">
    <img src = "static/images/logo00.jpg" alt="logo" width="100" height="81">
</div>
<div style="padding-left: 52px; font-weight: bold; font-size: 11px;">DELADIER ALMEIDA</div>
<div style="padding-left: 52px; padding-top: 5px;"><img src="static/images/vertline.jpg" width = "1250" height="5"></div>
<div class="wrapper">
    <div>&nbsp;</div>
    <div><a href="/california">California</a></div>
    <div><a href="/california">Southwest</a></div>
    <div class="nested">
        <div><a href="/events">events</a></div>
        <div><a href= "/contact">contact</a></div>
        <div><a href= "/galleries">galleries</a></div>
    </div>
    <div><a href="/california"><img src = "static/images/flight.jpg"></a></div>
    <div><a href="/southwest"><img src = "static/images/bend.jpg"></a></div>
    <div>&nbsp;</div>
    <div><a href="/tuscany">Tuscany</a></div>
    <div><a href="/tour">Tour</a></div>
    <div>&nbsp;</div>
    <div><a href="/tuscany"><img src = "static/images/primavera.jpg"></a></div>
    <div><a href="/tour"><img src = "static/images/fading.jpg"></a></div>
</div>
{% endblock %}
