{%extends 'region.html' %}

{%block region %} Tour {% endblock %}

{%block painting1 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting2 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting3 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting4 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting5 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting6 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting7 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting8 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting9 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block extra %}

<p style= "text-align: center; padding-right: 300px;">
    <strong>DELADIER ALMEIDA</strong>, <em>by Edward Lucie-Smith</em><br>
        <br><br>
    <div style="text-align: center; padding-right: 300px;">
        <div style="display: inline-block; text-align: left;">
            The majority of the paintings in this exhibition are concerned with a single subject – the contemporary relationship to photography and, in particular, <br> 
            to digital photography. Traditional figurative painting and digital images lie at opposite ends of a particular spectrum. Unlike a painting, <br>
            a digital image arrives complete, and without much, or indeed any, effort on the part of the person who makes it. Push a button, and there it is.
            <br><br>
            Almeida is interested in this phenomenon for two different reasons. First, he is interested in the way that the presence of a camera or, better still,<br>
            a multitude of cameras, validates a public event. This is the case with the most recent painting in the show. Entitled Two Minutes, it portrays a <br>
            commemorative demonstration held in London’s Trafalgar Square, on July 14th 2005. This took place a week after a series of terrorist attacks on the <br>
            city’s underground system. The composition is dominated, not by the ranks of demonstrators gathered on the steps leading up to the National Gallery, <br>
            but by a group of still and television cameramen in the foreground, recording the event. Interestingly, two of the three figures holding cameras are facing <br>
            away from the demonstrators. They are gathering information about the reaction to the demonstration, rather than the demonstration itself.
            <br><br>
            In one way, this painting reverts to a type of nineteenth century art that has now fallen somewhat out of favor. It reminds me for example of a painting <br>
            by Jules Adler, a pupil of Bougereau and Dagnan-Bouveret, called The Strike. Dated 1899, this is still quite often reproduced because it provides a vivid image <br>
            of the industrial unrest that boiled up in Europe and the end of the 19th century. Realist paintings of urban life, with numerous figures and overtly political <br>
            and socially analytical subject matter, were staple fare in the annual Salons and Royal Academy Summer Exhibitions of the period. Not many people now realize <br>
            how many of the leading academic painters of the time, in all European countries, were what Americans – somewhat inaccurately – might now describe as socialists. <br>
            Certainly they were men of the left. The Futurists, who helped to overthrow academic art, were on the contrary men of the right. Italian Futurism, the most <br>
            political of the early 20th century avant-garde movements, soon became allied to Fascism.
            <br><br>
            Occasionally some of these late 19th century academic paintings dealt with the art world, and the business of looking at art. This is the case with still <br>
            famous painting from about the same epoch as Adler’s The Strike – William Powell Frith’s A Private View at the Royal Academy, dated 1881. Frith’s intention <br>
            was critical and moralistic. He intended to contrast solid achievement (the venerable statesman Disraeli, visible at the center of the composition)<br>
            with a then new fad, the Aesthetic Movement, whose leader, the still young Oscar Wilde, is also prominently placed. Very few of Frith’s figures are actually <br>
            looking at the paintings on view; they are too busy looking at each other.
            <br><br>
            Deladier Almeida records the changes brought by digital photography to this kind of social situation in a series of fascinating images. His protagonists are <br>
            not the art world elite, but tourists – beneficiaries of the system of mass transportation created, like the digital camera itself, by advances in modern technology <br>
            and, in particular by air travel. To these tourists, if often seems more important to take a picture of a masterpiece than to look at it direct (Prayer). Or it seems <br>
            important to have a record that you were once in the presence of a masterpiece, for example, the Venus de Milo in the Louvre (Being the Milo).
            <br><br>
            There are several things, in addition to the social standing of their protagonists, which differentiate these paintings from their 19th century predecessors. <br>
            For example, while the influence of photography is undoubtedly already present in the ambitious 19th century compositions I have cited, it is even more clearly <br>
            visible in Almeida’s paintings. A good example is Small World. This kind of radically cropped, brutally close up image owes its existence to photographic experimentation. <br>
            Its lineage can be traced back to Paul Strand, one of the most prominent members of the early 20th century American Photo-Secession led by Alfred Stieglitz, who’s protégé <br>
            and rival Strand became.
            <br><br>
            At the same time Almeida’s technique is much broader and, in appearance at least, much rougher than that of leading 19th century academicians. His way of painting <br>
            relates to that of the mature Degas – a relevant comparison is Degas’s Mary Cassatt in the Louvre, of c. 1880 – and also to the work of John Singer Sargent. <br>
            Sargent’s artistic lineage, in turn, can be traced back to Velazquez.
            <br><br>
            What is the point of treating this series of subjects in this particular way? I think Almeida’s aim is, as Professor Ernst Gombrich once said of Chardin, <br>
            to demonstrate that there are “things that only paint can do”. He wants to show us that painting is essentially an analytic, meditative process, which delivers <br>
            truths about the world of everyday appearances that remain out of reach for the camera. He also wants to tell us that painting is a different way of looking,<br>
            with its own set of rules, which may now, inevitably, be influenced by photographs, but still retain an integrity of its own. Thirdly, he wants to offer a witty <br>
            commentary on the way in which digital cameras often corrupt the process of seeing. Digital camera in hand, we think we see more, because we can snatch an image <br>
            that we can later study at leisure. In fact, at the crucial moment, we see less, because our attention is taken up by the clever little mechanism we hold in our hands,<br>
            and not on what we are trying to record.
            <br><br><br><br><br><br>
        </div>
    </div>
    <div style="text-align: end; padding-right: 625px">
        <div style="display: inline-block; text-align: right;">
            <b>Edward Lucie-Smith</b>
            <br>
            San Francisco, September 2016
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</p>
{% endblock %}