{%extends 'region.html' %}

{%block region %} Tuscany {% endblock %}

{%block painting1 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting2 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting3 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting4 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting5 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting6 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting7 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting8 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}

{%block painting9 %}<a href="/california"><img src = "static/images/flight.jpg"></a>{% endblock %}